# Cache
__pycache__
*cache*

# Whatever this is 
.DS_Store

# Data
*.csv
*.tsv
*.parquet
*.json.zst
kendall_tau.json
*.log

# Images
*.png

# Models
*.pkl

# Keys
backtest.txt
.env
.env*
trade.txt
DEMO.txt